@font-face {
  font-family: Cairo;
  src: url(../Fonts/Cairo-VariableFont_slnt\,wght.ttf);
}
*,
::before,
::after {
  box-sizing: border-box;
}
p {
  margin: 0;
}
.page {
  min-height: var(100vh);
  padding: 100px 150px;
  text-align: center;
  font-family: Cairo;
}
.page > h1 {
  font-size: 50px;
}
.page > p {
  margin-bottom: 50px;
  font-size: 20px;
  color: #ddd;
}
.page > .imgs-holder {
  width: 700px;
  height: 700px;
  background-image: url(../imgs/Building\ 4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 auto;
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page > .imgs-holder > h2 {
  color: #fff;
  position: relative;
}
.page > .imgs-holder > p {
  position: relative;
  color: #ddd;
  width: 400px;
  line-height: 1.6;
  margin: 0 auto;
  font-size: 20px;
}
.page > .imgs-holder::before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: #000000ab;
  border-radius: 50%;
  z-index: 0;
}
.page > .imgs-holder > div {
  width: 600px;
  display: flex;
  position: absolute;
  align-items: center;
  gap: 30px;
}
.page > .imgs-holder > div img {
  width: 125px;
  padding: 15px;
  border-radius: 50%;
  border: 12px solid #fff;
}
.page > .imgs-holder div .text p {
  color: #777;
  line-height: 1.6;
}
.page > .imgs-holder .memory {
  flex-direction: row-reverse;
  left: calc(-600px + 150px);
  top: 75px;
  text-align: end;
}
.page > .imgs-holder .memory img {
  background: #ff6055;
}
.page > .imgs-holder .servers {
  right: calc(-600px + 150px);
  top: 75px;
  text-align: start;
}
.page > .imgs-holder .servers img {
  background-color: #2196F3;
}
.page > .imgs-holder .servers2 {
  right: calc(-600px + 150px);
  bottom: 75px;
  text-align: start;
}
.page > .imgs-holder .servers2 img {
  background-color: #07d5c2;
}
.page > .imgs-holder .work {
  left: calc(-600px + 150px);
  bottom: 75px;
  text-align: end;
  flex-direction: row-reverse;
}
.page > .imgs-holder .work img {
  background-color: #FF9800;
}